name: Lint code

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main

permissions:
  contents: read
jobs:
  golangci:
    name: Code linting with golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.21
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.55.2
          args: ./...
