name: Test

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main

jobs:
  test:
    name: Test building and run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.22
      - uses: actions/checkout@v3
      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-test-unit-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-test-unit-go-
      - name: Test building
        run: go build -v ./...
      - name: Run tests
        run: go test -v ./...
